<!doctype html>
<html lang="en">
<head>
  <% include includes/headerStuff %>
</head>
<body>
  <% include includes/pageHeader %>
  <!-- Main Content Goes Here -->
  <main role="main" class="container">
    <div class="starter">
      <% if (product === null) { %>
        <h1>That product does not exist!</h1>
      <% } else { %>
        <h1><%=product.productName%></h1>
        <p class="lead"><%=product.description%></p>
        <a href="#" class="btn btn-primary">Buy it for $<%=product.listPrice%></a>
      <% } %>
    </div>

  </main>
<% include includes/pageFooter %>
<% include includes/footerStuff %>
</body>
</html>