<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <nav class="navbar">
        <p><a href="/">Home</a></p>
        <a href="/madlib">MadLib Generator</a>
    </nav>