<!doctype html>
<html lang="en">
<head>
  <% include ../includes/headerStuff %>
</head>
<body>
  <% include ../includes/pageHeader %>
  <!-- Main Content Goes Here -->
  <%-categories%>
<% include ../includes/pageFooter %>
<% include ../includes/footerStuff %>
</body>
</html>